table#resourceGrid{
text-align:center;
margin-left:5%;
margin-right:5%;
width:90%;
table-layout: fixed;
margin-top:5px;
}
td{
width:100px;
height:50px;
}
body{
font-family:"curtive mono" , monospace;
font-size: 13pt;
}
div#push{
width:100%;
padding-top:30% ;
}
td#stone{
background:	#E0E0D1;
}
td#iron{
background:#999999;
}
td#copper{
background:#B26B00;
}
td#coal{
background:#333333;
}
td#smeltCoal{
background: #EBF0F5;
}
td#smeltIron{
background: #85A3C2;
}
td#smeltCopper{
background: #FF9900;
}
td#smeltStone{
background: #B89470;
}
td#stoneMine{
background:#7B7B7B;
}
td#copperMine{
background:#7B7B7B;
}
td#ironMine{
background:#7B7B7B;
}
td#coalMine{
background:#7B7B7B;
}
td#mineQuartz{
background:#EEEEEE;
}
td#mineTin{
background:#C6C7C9;
}
td#mineAnthracite{
background: #1A1A1A;
}
td#mineGold{
background:#FFD633;
}
.red{
color:red;
}
.white{
color:white;
}
.no-select{
-webkit-user-select: none;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.pointer{
cursor: pointer;
}
