html, body {
    height: 100%;
    margin: 0;
}

div#screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.clickable div#story {
    text-align: center;
    width: 100%;
}

table {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    table-layout: fixed;
    margin-top: 5px;
}

#resources, #machines,  #upgrades,
#tierIIResources #machineUpgrades, #fuelSourceUpgrades,
#biology, #cloning, #generations
{
    display:none; !important
}

td {
    width: 22.5%;
    height: 50px;
}

body {
    font-family: 'Cutive Mono', monospace;
    font-size: 13pt;
}

td#stone {
    background: #E0E0D1;
}

td#iron {
    background: #999999;
}

td#copper {
    background: #B26B00;
}

td#coal {
    background: #333333;
}

td#cokeCoal {
    background: #EBF0F5;
}

td#ironPlate {
    background: #85A3C2;
}

td#copperPlate {
    background: #FF9900;
}

td#hardStone {
    background: #B89470;
}

td#stoneMine {
    background: #7B7B7B;
}

td#copperMine {
    background: #7B7B7B;
}

td#ironMine {
    background: #7B7B7B;
}

td#coalMine {
    background: #7B7B7B;
}

td#mineQuartz {
    background: #EEEEEE;
}

td#mineTin {
    background: #C6C7C9;
}

td#mineAnthracite {
    background: #1A1A1A;
}

td#mineGold {
    background: #FFD633;
}

.red {
    color: red;
}

.white {
    color: white;
}

.no-select {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pointer {
    cursor: pointer;
}

.clickable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
